# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
.env
.venv/
env/
.venv.bak/

# Node / Vite
node_modules/
dist/
.vite/
*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# MongoDB
*.lock
